/* //Header csss */
.active {
  border-bottom: 2px solid black;
  transition: all 0.3s ease-in-out; /* smoother and faster */
}
.Link{
    text-decoration: none;
    color: white;
    padding: 15px;
}
.Link:hover{
    border-bottom: 1px solid gray;
    color: gray;
}